<ul id="show-data">
	{{name}}
	

	<button class="change-sleep" data-id="{{id}}" data-newWatch="{{watch}}">
		{{#if watch}}<i class="small material-icons icon">autorenew</i>{{else}}<i class="small material-icons icon">autorenew</i>{{/if}}
	</button>

	<button class="delete-show" data-id="{{this.id}}"><i class="small material-icons icon">close</i></button>
	
</ul>


<div id="modalAss" class="modal">
        <div class="modal-content">
            <div class="row">
                <p>Coming soon...</p>
            </div>
			<div class="modal-footer" id="modal-footer">
                <span id="leave"><i class="small material-icons" id="leave">close</i></span>
            </div>
        </div>
    </div>
	